/* Fondo principal */
.mainVbox {
    -fx-background-color: #0a0a0a;
    -fx-padding: 20;
}

/* Título principal */
.headTitle {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: #ffe81f; /* amarillo "Star Wars" */
    -fx-font-family: "Consolas", monospace;
}

/* Campos de texto */
.text-field {
    -fx-background-color: #1c1c1c;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #888888;
    -fx-border-color: #ffe81f;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-padding: 5 10 5 10;
}

.saludoTitle{
       -fx-font-size: 20px;
       -fx-font-weight: bold;
       -fx-fill: #5CDF96;
       -fx-font-family: "Consolas", monospace;
}

/* Botones principales */
.button {
    -fx-background-color: #ffe81f;
    -fx-text-fill: #0a0a0a;
    -fx-font-weight: bold;
    -fx-padding: 8 15 8 15;
    -fx-cursor: hand;
}

/* Botón secundario */
#btnRetirarse {
    -fx-background-color: #333333;
    -fx-text-fill: #ffe81f;
    -fx-font-weight: bold;
    -fx-padding: 8 15 8 15;
    -fx-cursor: hand;
}

/* Modal */
.modalVbox {
    -fx-background-color: #1a1a2e;
    -fx-padding: 20;
    -fx-border-color: #ffe81f;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/* Texto de la modal */
.modalVbox .headTitle {
    -fx-fill: #A0F6D1; /* amarillo más cálido que el padre */
}
